body {
    background: aliceblue;
}

.title {
    font-size: 5em;
    background: white;
    color: black;
    text-align: center;
    width: 3em;
    height: auto;
    border: 3px solid black;
    padding: 3px 3px;
    margin: 0 auto;
    margin-bottom: 5 px;
}

.pilha {
    width: 2em;
    height: 10em;
    border: 2px solid black;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
}

.container {
    margin-top: 2em;
    margin-bottom: auto;
}

.logo {
    
}
