body {
    background: rgb(255, 186, 96);
}

.title {
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.button,
.login {
    background-color: rgb(146, 163, 199);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 3px 10px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.332);
    display: block;
    border-radius: 5px;
    white-space: normal;
    width: auto;
    border: none;
    outline: 0;
    user-select: none;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 1.5;
}

.right {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

.button:hover {
    background-color: rgb(120, 133, 161);
}

.button:active {
    background-color: rgb(120, 133, 161);
    box-shadow: 0 3px rgba(0, 0, 0, 0.332);
    transform: translateY(2px);
}



.DIVcenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;

    /* resize: both; 
    */
}

.container {
    margin-top: 2em;
    margin-bottom: auto;
}

.logo {}